FlashCards/Web References/net.ddns.jlzorita/WebService_flashcats.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservice_package/" targetNamespace="http://webservice_package/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="responMissatge" type="tns:responMissatge" />
  <xs:element name="responMissatgeResponse" type="tns:responMissatgeResponse" />
  <xs:complexType name="responMissatge">
    <xs:sequence>
      <xs:element minOccurs="0" name="this" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="responMissatgeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>